
<div style="background: #333333;color:white;">
  <p id="notice"><%= notice %></p><br><br>
  <%= image_tag 'white_tiger.png', class: 'hoge' %><br>
    <div>
      <%= link_to 'アプリの使い方', tops_help_path%><br>
      <%= link_to "ユーザー登録",new_user_registration_path%>|
      <%= link_to "ログイン",new_user_session_path%>|
      <%= link_to "ゲストログイン",users_guest_sign_in_path ,method: :post%>
    </div>
    <br><br>
</div>    

