<!DOCTYPE html>
<html>
  <head>
    <title>AnimalKPT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <header> 
      <%= link_to tops_index_path, target: "_self" do %>
        <%= image_tag "logo.png" %>
      <% end %>
      <%= link_to users_show_path, target: "_self" do %>
        <%= image_tag "user.png" %>
        <%= current_user.name%>さん
      <% end %>
      <%= link_to tops_index_path, target: "_self" do %>
        <%= image_tag "kpt.png" %>
        マイKPT
      <% end %>
      <%= link_to teams_path, target: "_self" do %>
        <%= image_tag "team.png" %>
        チーム
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, target: "_self" do %>
        <%= image_tag "logout.png" %>
        ログアウト
      <% end %>
  <% else %>
    <header>
      <%= link_to tops_index_path, target: "_self" do %>
        <%= image_tag "lion.png" %>
        トップ
      <% end %>
      <%= link_to new_user_registration_path, target: "_self" do %>
        <%= image_tag "monkey.png" %>
        ユーザー登録
      <% end %>
      <%= link_to new_user_session_path, target: "_self" do %>
        <%= image_tag "login.png" %>
        ログイン
      <% end %>
      <%= link_to users_guest_sign_in_path, method: :post, target: "_self" do %>
        <%= image_tag "owl.png" %>
        ゲストログイン
      <% end %>
      <%= link_to users_guest_admin_sign_in_path, method: :post, target: "_self" do %>
        <%= image_tag "dog.png" %>
        ゲスト管理者ログイン
      <% end %>
  <% end %>
    </header>
    <%= yield %>
    <!-- clipboard.js -->
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script type="text/javascript">
    var clipboard = new ClipboardJS('.clip');
    
    //成功した時の処理
    clipboard.on('success', function (e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);
    
      //テキストが選択された状態になるので、解除する場合は下記のコードを書く
      e.clearSelection();
    });
      
    //エラーになった時の処理
    clipboard.on('error', function (e) {
      console.error('Action:', e.action);
      console.error('Trigger:', e.trigger);
    });
    </script>
    <footer >copyright© Animal kpt all rights reserved. </footer>
  </body>
</html>








